fastapi
uvicorn
pandas
xgboost>=2.0.0,<2.1.0
scikit-learn
shap
joblib
python-dotenv
requests
python-jose[cryptography]
passlib==1.7.4
bcrypt==3.2.2
pymongo
motor
google-genai
python-multipart
email-validator